#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  display: flex;
}
.sidebar{
  flex: 0 0 25%;
  border: 1px solid lightgray;
  border-radius: 15px;
}
